:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 1440px;
    background-color: #F5F7FA;
}

.wrapper {
    display: flex;
    position: relative;
    width: 1440px;
}

.wrapper .sidebar {
    position: fixed;
    width: 249px;
    height: 100%;
    background: #FFF;
    padding: 30px 0;
}

.wrapper .sidebar h2 {
    color: #1814F3;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar brgy {
    width: 30px;
    height: 30px;
    display: block;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.wrapper .sidebar ul li a {
    color: #B1B1B1;
    display: inline-block;
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
}

.wrapper .sidebar ul li a .but {
    width: 25px;
    color: #B1B1B1;
}

.wrapper .sidebar ul li:hover {
    background: #1814F3;
}

.wrapper .sidebar ul li:hover {
    color: #ca1414;
}

.wrapper .main_content {
    width: 1191px;;
    height: 100px;
    margin-left: 251px;
}

.wrapper .main_content .header {
    width: 1191px;
    padding: 20px;
    background: #FFF;
    color: #343C6A;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 100px;
}

.wrapper .main_content .header h2 {
    padding: 20px;
    background: #FFF;
    color: #343C6A;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.wrapper .main_content .header p {
    padding: 20px;
    background: #FFF;
    color: #343C6A;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.wrapper .main_content .box1 {
    margin-top: 20px;
    margin-left: 51px;
    color: #1814F3;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.wrapper .main_content .header input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 10px;
    margin-right: 322px;
    border: 10px;
    font-size: 17px;
    border-radius: 40px;
    width: 255px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    background: #F5F7FA;
}

.search {
    color: #8BA3CB;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
}

.header {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .search {
    margin-right: 20px;
}

.header p {
    margin: 0;
    margin-left: 20px;
}

.header input[type=text] {
    margin-right: 20px;
}

#box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    margin-top: 20px;
}

.buttons {
    width: 1110px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content: flex-start;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EBEEF2;
}

.buttons button {
    border: none;
    width: 127px;
    height: 35px;
    flex-shrink: 0;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
    transition: background-color 0.3s;
    color: #718EBF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: none;
    margin: 0 10px;
}

.buttons button:hover {
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #1814F3;
    color: #1814F3;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

table {
    width: 1110;
    border-collapse: collapse;
    margin-top: 28px;
    border: 2px solid black;
    border-radius: 25px;
    overflow: hidden;
    background: white;
}

th, td {
    padding: 26px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-style: normal;
}

th {
    background-color: transparent;
    color: #718EBF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

td {
    color: #232323;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

tr:hover {
    background-color: #f1f1f1;
}

.user {
    color: #1814F3;
}

.officials {
    color: #FE5C73;
}

.view-btn {
    background-color: white;
    color: #123288;
    border-radius: 50px;
    border: 1px solid #123288;
    padding: 8px 12px;
    cursor: pointer;
    width: 75px;
    height: 35px;
    flex-shrink: 0;
}

.view-btn:hover {
    background-color: #74b2f3;
}

