:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }

  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {

    width: 100%;
    height: 100% ;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .group {
    position: relative;
    width: 442px;
    height: 586.304px;
    margin: auto;
    margin-top: 20vh;
    z-index: 1;
    overflow: visible auto;
  }
  .logo {
    position: relative;
    width: 280.321px;
    height: 87.633px;
    margin: 69.897px 0 0 80.258px;
    z-index: 27;
  }
  .barangay-feedback-portal {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 170.826px;
    height: 87.633px;
    top: 0;
    left: 109.496px;
    color: #343c6a;
    font-family: Montserrat, var(--default-font-family);
    font-size: 26.537904739379883px;
    font-weight: 800;
    line-height: 32.35px;
    text-align: left;
    z-index: 29;
  }
  .iconfinder-vector {
    position: absolute;
    width: 100.032px;
    height: 84.503px;
    top: 3.13px;
    left: 0;
    background: url(Icons/brgy\ icon.png)
      no-repeat center;
    background-size: cover;
    z-index: 28;
    overflow: hidden;
  }
  .group-1 {
    position: relative;
    width: 297.768px;
    height: 78.926px;
    margin: 23.995px 0 0 72.116px;
    font-size: 0px;
    z-index: 3;
  }
  .username_lbl {
    display: block;
    position: relative;
    height: 20.045px;
    margin: 0 0 0 5px;
    color: #232323;
    font-family: Inter, var(--default-font-family);
    font-size: 14.963541030883789px;
    font-weight: 400;
    line-height: 18.109px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
  }
  .username_input {
    position: absolute;
    width: 297.768px;
    height: 50.111px;
    margin-top: 20px;
    font-size: 17px;
    top: 0;
    left: 1;  
    border: solid rgb(192, 192, 192) 1px;
    border-radius:20px ;
    z-index: 8;
    outline: none;
  }
  .group-3 {
    position: relative;
    width: 297.768px;
    height: 78.926px;
    margin: 18.096px 0 0 72.116px;
    font-size: 0px;
    z-index: 9;
    overflow: visible auto;
  }
  .password_lbl {
    display: block;
    position: relative;
    height: 20.045px;
    margin: 0 0 0 5px;
    color: #232323;
    font-family: Inter, var(--default-font-family);
    font-size: 14.963541030883789px;
    font-weight: 400;
    line-height: 18.109px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }
  .group-4 {
    position: relative;
    width: 297.768px;
    height: 50.111px;
    margin: 8.769px 0 0 0;
    font-size: 0px;
    z-index: 11;
    overflow: hidden;
    border-radius: 17.266px;
  }
  .rectangle-5 {
    position: absolute;
    width: 297.768px;
    height: 50.111px;
    top: 0;
    left: 0;
    background: #ffffff;
    border: 1.151px solid #dfeaf2;
    z-index: 12;
    border-radius: 17.266px;
  }
  .password_input {
    position: absolute;
    width: 297.768px;
    height: 50.111px;
    margin-top: 20px; 
    top: 0;
    left: 0;
    font-size: 17px;
    background: transparent;
    border: solid rgb(192, 192, 192) 1px;
    border-radius:20px ;
    z-index: 14;
  }

  .username_input,
  .password_input {
    padding-left: 20px; /* Adjust the value as needed */
    padding-top: 20px; /* Optional: Add top padding if desired */
    padding-bottom: 20px; /* Optional: Add bottom padding if desired */
    padding-right: 20px; /* Optional: Add right padding if desired */
    box-sizing: border-box; /* Ensure padding is included in the total width/height */
  }


  .login_btn {
    position: relative;
    width: 129.111px;
    height: 38.6px;
    margin: 29.528px 0 0 156px;
    cursor: pointer;
    background: transparent;
    color: white;
    font-size: 17px;
    border: none;
    z-index: 15;
    border-radius: 10.359px;
    background-color: #1814f3;
    transition: 0.5s;
  }

  .login_btn:hover {

    background-color:#6e6dbd ;
  }
  .rectangle-8 {
    position: absolute;
    width: 442px;
    height: 586.304px;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 2;
    border-radius: 23.021px;
  }
  .return {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 25.797px;
    top: 24.625px;
    left: 58.158px;
    color: #b1b1b1;
    font-family: Inter, var(--default-font-family);
    font-size: 20.71875px;
    font-weight: 500;
    line-height: 25.074px;
    text-align: left;
    white-space: nowrap;
    z-index: 30;
  }
  .arrow-back {
    background: url(Icons/arrow_back.png);
    position: absolute;
    width: 27.916px;
    height: 28.143px;
    top: 24.625px;
    left: 25.59px;
    z-index: 31;
  }
  
  .icon {
    position: relative;
    width: 18.611px;
    height: 18.762px;
    margin: 4.69px 0 4.69px 4.653px;
    background: url(./assets/images/c1451eef-f3bc-42e1-84b4-f863923fabb8.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 32;
  }
  .register {
    position: relative;
    width: 148.884px;
    height: 55.292px; 
    margin: 14.985px 0 0 70px;
    cursor: pointer;
    color: white;
    font-family: Inter, var(--default-font-family);
    font-size: 17.265625px;
    font-weight: 500;
    line-height: 20.895px;
    white-space: nowrap;
    background: transparent;
    background-color: #16dbaa;
    border: none;
    border-radius: 10.359px;
    z-index: 22;
    transition: 0.5s;
  }

  .register:hover {
    background-color: #9bd6c7;
  }
  .register-officialbtn {
    position: absolute;
    width: 148.884px;
    height: 55.292px;
    top: 440.023px;
    left: 221px;
    cursor: pointer;
    background: transparent;
    color: white;
    font-size: 17px;
    background: #fe5c73;
    border: none;
    z-index: 23;
    border-radius: 10.359px;
    transition: 0.5s;
  }

  .register-officialbtn:hover {
    background: #ec929f;
  }

  .register-user{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 118.232px;
    height: 37.557px;
    margin: 9.253px 0 0 16.421px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 17.265625px;
    font-weight: 500;
    line-height: 20.895px;
    text-align: center;
    z-index: 26;
  }
  .rectangle-e {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f4f6f9;
  }
  